<script
  defer
  src="{{ 'konva.js' | asset_url }}"
></script>

{% assign control_texts = 'Layouts, Layout Size, Pattern, Tile type, Edges, Color, My Designs' | split: ', ' %}
{% comment %} {% assign control_icons = 'layouts, layout-size, pattern, tile-type, edges, color, my-designs' | split: ', ' %} {% endcomment %}

<button id="btn-configurator">Configurator</button>

<div id="configurator" class="configurator-container hidden">
  <div class="configurator-sidebar">
    {% for text in control_texts %}
      {% assign type = text | downcase | replace: ' ', '-' %}
      {% render 'sidebar', text: text, type: type, id: block.id %}
    {% endfor %}
  </div>

  <div id="canvas-preview" class="configurator-canvas"></div>
</div>

{% schema %}
{
  "name": "Interlocking Configurator",
  "stylesheet": "configurator.css",
  "javascript": "configurator.js",
  "target": "section",
  "settings": [
    { "type": "product", "id": "product", "label": "product", "autofill": true },
    { "type": "color", "id": "colour", "label": "Star Colour", "default": "#ff0000" }
  ]
}
{% endschema %}
